/* overview style | K Wenzel 2018 */
body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card {
  position: relative;
  margin-left: 10px;
  height: 150px;;
  width: 200px;;
  top: 60px;
}

.card-body {
  height: 100vh;
}
